* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

main { 
    margin: 0;
    padding: 0;
    position: relative;
}

.all-courses {
    min-height: 100vh;
}

.all-courses__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin-top: 36px;
    margin-bottom: 56px;
    margin-left: 370px;
}

.studying-programs__layout {
    display: flex;
    border-top: 1px solid var(--gray-5);

}

.studying-programs__layout--wrapper {
    flex: 1 1 auto;
}


