.header__navigation--submenu {
    display: none;
    position: absolute;
    z-index: 10;
    width: 1180px;
    height: min-content;
    min-height: 50px;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 5px 5px 5px rgba(7, 43, 245, 0.3);
    padding: 17px 200px 29px 20px;
    top: 63px;
    left: -720px;
}

.header__catalog>.header__navigation--submenu {
    top: 63px;
    left: -160px;
}

.header__location>.header__navigation--submenu {
    top: 64px;
    left: -720px;
}

.header__navigation--submenu-active {
    display: flex;
    flex-wrap: wrap;
}

.header__navigation--submenu>p {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: black;
    margin-bottom: 25px;
}

.header__navigation--submenu-item .header__navigation--link {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: var(--gray-2);
}

.header__navigation--submenu-item .header__navigation--link:hover {
    color: var(--dark-blue);
}

.header__catalog--subMenu,
.header__location--subMenu {
    display: flex;
    flex-wrap: wrap;
}

.header__navigation--submenu-item {
    display: block;
    width: 180px;
}