.catalog-list__item {
    display: flex;
    width: 436px;
    height: min-content;
    border-radius: 20px;
}

.catalog-list__item:hover {
    transform: scale(110%);
    transition: 0.5s;
    box-shadow: 5px 3px 6px blue;
}

.catalog-list__link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 27px 31px 38px 27px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
}

.catalog-list__link--subtitle {
    display: inline-block;
    line-height: 15px;
    color: var(--gray-2);
    margin-bottom: 25px;
}

.catalog-list__link--title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--dark-blue);
    margin-left: 46px;
    margin-bottom: 26px;
    display: block;
    position: relative;
}

.catalog-list__link--title::before {
    content: url('../../../assets/images/icons/mobile.svg');
    width: 26px;
    height: 42px;
    position: absolute;
    top: -5px;
    left: -46px;
}

.catalog-list__link--description {
    display: block;
    margin-bottom: 15px;
    margin-top: 10px;
    line-height: 18px;
    color: var(--gray-2);
    max-height: 100px;
    overflow: overlay;
}

.catalog-list__link--duration {
    line-height: 16px;
    color: black;
}

.catalog-list__item:nth-of-type(1) {
    background-color: #C7EEFF;
    grid-area: num1;
}

.catalog-list__item:nth-of-type(2) {
    background-color: #FFCE94;
    grid-area: num2;
}

.catalog-list__item:nth-of-type(3) {
    background-color: #FFE38E;
    grid-area: num3;
}

.catalog-list__item:nth-of-type(4) {
    background-color: #DDDDFF;
    grid-area: num4;
}

.catalog-list__item:nth-of-type(5) {
    background-color: #B8EFCF;
    grid-area: num5;
}

.catalog-list__item:nth-of-type(6) {
    background-color: #C7EEFF;
    grid-area: num6;
}

.catalog-list__item:nth-of-type(7) {
    background-color: #C5DDFF;
    grid-area: num7;
}

.catalog-list__item:nth-of-type(8) {
    background-color: #FFE9A8;
    grid-area: num8;
}

.catalog-list__item:nth-of-type(9) {
    background-color: #FFEEF6;
    grid-area: num9;
}

.catalog-list__item:nth-of-type(10) {
    background-color: #DDDDFF;
    grid-area: num10;
}

.catalog-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 20px;
    grid-template-areas: 'num1 num2'
        'num3 num4'
        'num5 num6'
        'num7 num8'
        'num9 num10';
    margin-top: 365px;
    margin-bottom: 200px;
}