.chess-information {
    margin-left: 370px;
    margin-right: 370px;
}

.chess-information__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 34px;
    display: inline-block;
    margin-bottom: 15px;
}

.chess-information__text {
    display: block;
    max-width: 989px;
    padding-right: 60px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
}

.chess-information__navigation {
    margin-top: 23px;
}

.chess-information__list {
    display: flex;
    justify-content: space-between;
}

.chess-information__list--item>a {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.chess-information__list--item>a:hover {
    color: var(--gray-1);
}

.chess-information__list--item:nth-of-type(1)>img {
    margin-bottom: 16px;
    width: 32px;
    height: 39px;
}

.chess-information__list--item:nth-of-type(2)>img {
    margin-bottom: 15px;
    width: 43px;
    height: 37px;
}

.chess-information__list--item:nth-of-type(3)>img {
    margin-bottom: 13px;
    width: 39px;
    height: 31px;
}

.chess-information__list--item:nth-of-type(4)>img {
    margin-bottom: 16px;
    width: 38px;
    height: 40px;
}

.chess-information__list--item:nth-of-type(5)>img {
    margin-bottom: 24px;
    width: 40px;
    height: 40px;
}

.chess-information__list--item:nth-of-type(6)>img {
    margin-bottom: 24px;
    width: 48px;
    height: 36px;
}

/* chess-registration */

.registration {
    width: 100vw;
    min-height: 340px;
    margin-top: 70px;
    background-image: url('../../../assets/images/chess-registration-bg.svg');
    background-size: cover;
    background-position: center, top;
}

.registration__content {
    width: 100%;
    display: flex;
    margin-left: 370px;
    justify-content: start;
}

.registration__content--text {
    display: block;
    width: 486px;
    margin-right: 114px;
    margin-top: 91px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
}

.registration__button {
    display: block;
    background-color: var(--orange);
    border-radius: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    color: white;
    text-align: center;
    width: 191px;
    height: 50px;
    padding-top: 11px;
    margin-top: 41px;
    margin-bottom: 50px;
    margin-left: 865px;
}

.registration__button:hover {
    background-color: #FFAE4D;
}

/* chess course-program */

.course-program {
    width: 1215px;
    min-height: 486px;
    margin-left: 370px;
    margin-bottom: 71px;
    margin-top: 180px;
    font-family: 'Montserrat';
    position: relative;
}

.course-program__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 34px;
}

.course-program__text {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-top: 11px;
    margin-bottom: 12px;
    max-width: 979px;
}

.course-program__flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-program__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 500px;
}

.course-program__list--item {
    margin-right: 30px;
    margin-bottom: 32px;
    padding-top: 7px;
    border-top: 2px solid transparent;
    border-image: linear-gradient(to right, #F7941D, #27AAE1);
    border-image-slice: 1;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--dark-blue);
}

.course-program__list--item:nth-of-type(3) {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 44px;
}

.course-program__button {
    display: block;
    background-color: var(--orange);
    border-radius: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    color: white;
    text-align: center;
    width: 191px;
    height: 50px;
    padding-top: 11px;
}

.course-program__button:hover {
    background-color: #FFAE4D;
}

.course-program__owl {
    width: 558px;
    height: 275px;
    position: relative;
}

.course-program__owl img {
    width: 220px;
    height: 196px;
    transform: rotateY(180deg);
    position: absolute;
    right: 0;
    bottom: -20px;
}

.course-program__owl--text {
    display: block;
    width: 350px;
    height: 137px;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-left: 28px;
    padding-top: 13px;
    border-radius: 6px;
    background-image: url('../../../assets/images/owl/program-owl-txt.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.course-program__art-castle {
    width: 66px;
    height: 104px;
    transform: rotate(-35deg);
    position: absolute;
    top: -27px;
    right: 180px;
}

.course-program__art-bishop {
    width: 35px;
    height: 76px;
    transform: rotate(35deg);
    position: absolute;
    top: -30px;
    right: 22px;
}

.course-program__art-knight {
    width: 41px;
    height: 66px;
    position: absolute;
    top: 120px;
    right: 118px;
}

.course-program__art-king {
    width: 46px;
    height: 102px;
    transform: rotate(25deg);
    position: absolute;
    top: 130px;
    right: 0;
}



.header-bottom-chess {
    width: 100vw;
    height: 480px;
    background-color: var(--dark-blue);
    background-image: url('../../../assets/images/foto/header-chess-foto.jpg');
    background-size: 517px 480px;
    background-position-x: 75%;
    background-position-y: center;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 200px;
}

.header-bottom-chess__title {
    display: flex;
    max-width: 55vw;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-family: 'Montserrat';
    color: #FFFFFF;
    padding-top: 10px;
    padding-left: 369px;
    background-color: var(--dark-blue);
}

.header-bottom-chess__title--first {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    display: inline-block;
    margin-bottom: 11px;
}

.header-bottom-chess__title--second {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.header-bottom-chess__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.header-bottom-chess__list--item {
    margin-right: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    border-top: 3px solid transparent;
    border-image: linear-gradient(to right, #F7941D, #27AAE1);
    border-image-slice: 1;
}

.header-bottom-chess__list--item:nth-of-type(3),
.header-bottom-chess__bonus {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}

.header-bottom-chess__recommendation,
.header-bottom-chess__list--item:nth-of-type(2),
.header-bottom-chess__list--item:nth-of-type(1) {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.header-bottom-chess__button {
    display: block;
    background-color: var(--orange);
    border-radius: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    color: white;
    text-align: center;
    width: 286px;
    height: 50px;
    padding-top: 11px;
    margin-bottom: 35px;
}

.header-bottom-chess__button:hover {
    background-color: #FFAE4D;
}

.header-bottom-chess__img--cross {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 35%;
    right: 20%;
    z-index: 2;
}

.header-bottom-chess__img--circle {
    position: absolute;
    width: 128px;
    height: 128px;
    bottom: 9%;
    right: 35%;
    z-index: 2;
}

.header-bottom-chess__img--triangle-little {
    position: absolute;
    width: 98px;
    height: 82px;
    top: 5%;
    right: 35%;
    z-index: 2;
}

.header-bottom-chess__img--triangle {
    position: absolute;
    width: 138px;
    height: 115px;
    top: 10%;
    right: 8%;
    z-index: 2;
}

.header-bottom-chess__img--knight {
    position: absolute;
    height: 115px;
    width: 70px;
    top: 5%;
    left: 12%;
    transform: rotate(330deg);
    z-index: 2;
}

.header-bottom-chess__img--line1 {
    position: absolute;
    width: 338px;
    height: 131px;
    bottom: -10%;
    left: 33%;
    z-index: 2;
}

.header-bottom-chess__img--line2 {
    position: absolute;
    width: 338px;
    height: 131px;
    bottom: -10%;
    right: 5%;
    transform: rotateY(180deg);
    z-index: 2;
}

.header-bottom-chess__img--line3 {
    position: absolute;
    width: 127px;
    height: 267px;
    bottom: -10%;
    left: 5%;
    z-index: 2;
    transform: rotateY(180deg);
}

.header-bottom-chess__img--line4 {
    position: absolute;
    width: 400px;
    height: 90px;
    top: 40%;
    left: 42%;
    z-index: 2;
}


/* Адаптив */

@media screen and (max-width: 1820px) {
    .header-bottom-chess__title {
        padding-left: 350px;
    }

    .header-bottom-chess {
        background-position: 80%;
    }
}

@media screen and (max-width: 1700px) {
    .header-bottom-chess__title {
        padding-left: 300px;
    }
}

@media screen and (max-width: 1600px) {
    .header-bottom-chess {
        background-position: 85%;
    }

    .header-bottom-chess__title {
        padding-left: 250px;
    }

    .header-bottom-chess__title--first {
        line-height: 34px;
    }

    .header-bottom-chess__title--second {
        line-height: 22px;
    }

    .header-bottom-chess__img--cross {
        top: 40%;
        right: 15%;
    }
}

@media screen and (max-width: 1480px) {
    .header-bottom-chess__title {
        padding-left: 230px;
    }

    .header-bottom-chess__img--knight {
        left: 5%;
    }
}

@media screen and (max-width: 1400px) {
    .header-bottom-chess__title {
        padding-left: 200px;
    }
}

@media screen and (max-width: 1366px) {
    .header-bottom-chess {
        background-position: 90%;
    }

    .header-bottom-chess__title {
        padding-left: 180px;
    }

    .header-bottom-chess__list--item {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1280px) {

    /* PC */
    .header-bottom-chess {
        background-position: 95%;
    }

    .header-bottom-chess__title {
        padding-left: 150px;
    }

    .header-bottom-chess__list--item {
        margin-bottom: 10px;
        line-height: 17px;
    }

    .header-bottom-chess {
        background-position-x: right;
    }

    .header-bottom-chess__img--knight {
        left: 3%;
    }

    .header-bottom-chess__img--triangle {
        right: 2%;
    }

    .header-bottom-chess__img--cross {
        right: 5%;
    }

    .header-bottom-chess__img--line3 {
        left: 1%;
    }
}

@media screen and (max-width: 1189px) {
    .header-bottom-chess {
        background-position: 105%;
    }

    .header-bottom-chess__list--item:nth-of-type(3),
    .header-bottom-chess__bonus {
        font-size: 27px;
        line-height: 29px;
    }
}

@media screen and (max-width: 1024px) {

    /* Планшеты (альбомная ориентация)/Нетбуки */
    .header-bottom-chess {
        background-position: 100%;
    }

    .header-bottom-chess__list--item {
        padding-top: 8px;
    }

    .header-bottom-chess__recommendation {
        display: none;
    }

    .header-bottom-chess__title {
        padding-left: 100px;
    }

    .header-bottom-chess__img--line3,
    .header-bottom-chess__img--line4,
    .header-bottom-chess__img--triangle {
        display: none;
    }

    .header-bottom-chess__img--line2 {
        right: -5%;
    }
}

@media screen and (max-width: 960px) {
    .header-bottom-chess__title {
        padding-left: 70px;
    }

    .header-bottom-chess {
        background-position-x: 115%;
    }

    .header-bottom-chess__title--second {
        line-height: 22px;
    }
}

@media screen and (max-width: 870px) {
    .header-bottom-chess {
        background-position-x: 125%;
    }

    .header-bottom-chess__img--line1,
    .header-bottom-chess__img--line2 {
        display: none;
    }

    .header-bottom-chess__img--triangle-little {
        left: 80%;
    }
}

@media screen and (max-width: 768px) {

    /* Планшеты (портретная ориентация) */

    .header-bottom-chess__title {
        padding-left: 50px;
        padding-right: 20px;
        background-color: transparent;
        color: var(--dark-blue);
    }

    .header-bottom-chess__bonus {
        margin-bottom: 60px;
    }

    .header-bottom-chess {
        background-color: transparent;
        background-position-x: center;
        background-size: cover;
    }

    .header-bottom-chess__list--item:nth-of-type(3) {
        line-height: 40px;
    }

    .header-bottom-chess__list {
        width: 100vw;
        margin-right: 20px;
    }

    .header-bottom-chess__button {
        position: absolute;
        right: 3%;
        bottom: 2%;
    }

    .header-bottom-chess__list--item:nth-of-type(3) {
        line-height: 25px;
    }
}

@media screen and (max-width: 600px) {

    /* Небольшие планшеты */
    .header-bottom-chess__bonus {
        margin-bottom: 40px;
        color: white;
    }
}

@media screen and (max-width: 480px) {
    /* Мобильные устройства (альбомная ориентация) */

    .header-bottom-chess {
        display: none;
    }

    .header-mobile-chess {
        display: block;
    }
}