.footer-navigation {
    padding-left: 370px;
}

.footer-navigation__list {
    display: flex;
}

.footer-navigation__list--item {
    margin-right: 60px;
}

.footer-contacts {
    margin-right: 86px;
}

.footer-contacts {
    padding-top: 71px;
}

.footer-contacts__link--logo {
    width: 83px;
    height: 59px;
    margin-bottom: 43px;
}

.footer-contacts__link--logo:hover {
    transform: scale(105%);
    transition: 1s;
}

.footer-contacts__list--item {
    margin-bottom: 12px;
}

.footer-contacts__list--item a,
.footer-contacts__list--item {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: #FFFFFF;
}

.footer-contacts__list--item a:hover {
    color: var(--gray-2);
}

.footer-contacts__list--item:nth-of-type(1) {
    font-weight: 600;
    font-size: 18px;
}



