.footer-navigation {
    padding-left: 370px;
}

.footer-navigation__list {
    display: flex;
}

.footer-navigation__list--item {
    margin-right: 60px;
}


.footer-section__link a {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-section__list--link a {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    color: #FFFFFF;
}

.footer-section__list--link a:hover, .footer-section__link a:hover {
    color: var(--gray-2);
}








