.sort-form__item:nth-of-type(2),
.sort-form__item:nth-of-type(3) {
    border-top: 1px solid var(--gray-5);
}

.sort-form__item label {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: block;
    margin-bottom: 21px;
}

.sort-form__item--input input {
    margin-bottom: 23px;
    margin-right: 10px;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    border: 1px solid var(--gray-1);
}

.sort-form__item--input input {
    margin-right: 10px;
}

.sort-form__item--input:last-child {
    margin-bottom: 80px;
}

.sort-form__item--input:last-child input {
    background-image: linear-gradient('#LG1');
}