.footer-contacts__sub-list>ul{
    margin-top: 38px;
    display: flex;
    flex-direction: column;
}

.footer-contacts__sub-list--item {
    margin-bottom: 12px;
}

.footer-contacts__sub-list--link a,
.footer-contacts__sub-list--item {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: #FFFFFF;
}

.footer-contacts__sub-list--link a:hover {
    color: var(--gray-2);
}

.footer-contacts__sub-list--item:nth-of-type(1) a>span {
    font-weight: 600;
    font-size: 18px;
}

.footer-contacts__copyright {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--gray-4);
    margin-left: 5px;
}

