.form__blank--button button {
    grid-area: btn;
    background-color: var(--orange);
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    color: white;
    text-align: center;
    outline: 0 !important;
    border: none !important;
    height: 50px;
    width: 100%;
}

.form__blank--button:hover {
    background-color: #FFAE4D;
}

.video__btn {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 45%;
    z-index: 5;
    border: none !important;
    outline: 0 !important;
    padding: 0 !important;
}

.video__btn:hover {
    transform: scale(110%);
    transition: 0.5s;
}

.video__btn--notactive {
    display: none;
}


