a {
    color: #000000;
    text-decoration: none;
}
 a:hover {
    cursor: pointer;
    color: var(--dark-blue);
 }




 .footer-for-children__link a,
.footer-for-teenagers__link a,
.footer-for-adults__link a,
.footer-other-information__link a {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-other-information__sub-list--link a,
.footer-for-teenagers__sub-list--link a,
.footer-for-children__sub-list--link a,
.footer-for-adults__sub-list--link a {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    color: #FFFFFF;
}

.footer-navigation__list--item a:hover, .footer-navigation__list--item ul li a:hover {
    color: var(--gray-2);
}