:root {
    --blue: #27AAE1;
    --dark-blue: #00093C;
    --gray: #DDDFE6;
    --gray-1: #333333;
    --gray-2: #4F4F4F;
    --gray-4: #BDBDBD;
    --gray-5: #E0E0E0;
    --orange: #F7941D;
    --orange-active: #FFAE4D;
    --background: #E5E5E5;
    
    }
