.form__image {
    position: relative;
    width: 100%;
    height: 100%;
    margin-right: 50px;
}

.form__image div>img {
    display: block;
    position: absolute;
    width: 312px;
    height: 276px;
    top: 15px;
    left: -300px;
}

.form__image div {
    display: block;
    width: 418px;
    height: 190px;
    background-image: url('../../../assets/images/owl/text-form.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    padding: 22px 16px 16px 52px;
}

.form__image div>p:nth-of-type(1) {
    display: block;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.form__image div>p:nth-of-type(2) {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.owl {
    position: relative;
    height: 353px;
    min-width: 300px;
    margin-right: 40px;
}

.owl img {
    display: block;
    position: absolute;
    bottom: -130px;
    left: -40px;
    z-index: 2;
}

.owl div {
    display: block;
    position: absolute;
    min-height: 220px;
    width: 260px;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 25px 20px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: black;
    border-radius: 20px;
    background-image: url('../../../assets/images/owl/owl-text.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.owl div>p:first-child {
    font-weight: 600;
}

.sign-up__image .owl__img, .mission__image .owl__img {
    top: 86px;
}

.mission__image .owl {
    width: 350px;
    height: 273px;
}

.mission__image .owl__text {
    width: 350px !important;
    top: 0;
    right: 0;
    background-image: url('../../../assets/images/owl/owl-chess-txt.svg');
}


/* by sign up */

.sign-up__image .owl__text {
    padding-top: 20px;
    min-width: 350px;
    height: 140px;
    background-image: url('../../../assets/images/owl/owl-chess-txt.svg');
}

/* by about us */

.about-us__image .owl__text {
    width: 260px !important;
    height: 220px;
    background-image: url('../../../assets/images/owl/owl-text.svg');
    line-height: 28px;
}

.about-us__image .owl__text>p:last-child {
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
}

.about-us__image .owl__img {
    top: 166px;
}