.sign-up-main {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    height: min-content;
    background-color: #E5E5E5;
}

.sign-up__image {
    display: block;
    position: absolute;
    left: 370px;
    top: 110px;
}